APP_ENV=local
APP_KEY=base64:lQh6nF4N8riK5xzptKkNPC3ADkz/trC8zuy3NSchLVM=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=https://cargo-ticketing-server.vercel.app/
APP_PORT=413

FRONTEND_URL=https://react-template-lwu4jtney-jushiro012623s-projects.vercel.app/
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null   
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=sql12.freemysqlhosting.net
DB_PORT=3306
DB_DATABASE=sql12747294
DB_USERNAME=sql12747294
DB_PASSWORD=KhXlNddLel

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# Looking to send emails in production? Check out our Email API/SMTP product!
# MAIL_MAILER=smtp
MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=143d409f03a3ef
MAIL_PASSWORD=0bf4df77a4b9da
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=ivan_dev@dev.com
MAIL_FROM_NAME="Ivan Dev"
MAILERSEND_API_KEY=your-api-key

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# JWT_SECRET=0vqJq576bq4RGWGphYMx6BJRZn4RZu833TvdkKQwFyBbmW0RPojJKkhniWP3Aa7e
JWT_SECRET=3UuHP7Tyb9MSKMncx6Rm4OFuUx6Kpw8GgSf1c7VUho1h3qGgfkYZaA2xWcuHJpA8